<h1>""</h1>
<center><div class="long-shadow">Hall of Fame</div><center>
  <link async href="http://fonts.googleapis.com/css?family=Fredoka%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<div id="form">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @goal.length %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@goal.image.url(:med)), @goal.image.url %>
</p>

</div>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
